.container {
  width: 50%;
  padding: 0.2em;
}

.container.grid {
  width : 50%;
}

.container.list {
  width: 100%;
}

.video {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  border: 1px solid lightgray;
  cursor: pointer;
  transition: transform 250ms ease-in;
  box-shadow: 5px 5px 12px -8px rgba(0, 0, 0, 0.7);
}

.video:hover {
  transform: scale(1.02);
}

.thumbnail {
  width: 40%;
  height: 100%;
}

.metadata {
  margin-left: 0.5em;
}

.title,
.channel {
  margin: 0;
  font-size: 0.9rem;
}

.channel {
  font-size: 0.7rem;
}
