.header {
    display: flex;
    flex: row;
    align-items: center;
    padding: 0 0.5rem;
    height: 5rem;
    width: 100%;
    background-color: black;
}


.title {
    color: white;
    font-size: 2rem;
    padding: 0.5rem;
}

.searchContainer{
    display: flex;
    align-items: center;
    flex-basis: 100%;
   
}

.input {
    flex-basis: 100%;
    height: 2.5rem;
    padding: 0.5rem;
    font-size: 1.2rem;
    border: none;
}

.searchBtn{
    margin-left: 0.2rem;
    outline: 0;
    cursor: pointer;
    background-color: darkgray;
}

.searchImg {
    height: 2rem;
    width: 2rem;
}